* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #386641ff;
  --primary-alt-color: #6a994eff;
  --secondary-color: #f2e8cfff;
  --territary-color: #bc4749ff;
  --yellow-green: #a7c957ff;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.section {
  min-height: 90vh;
  padding: 2rem;
}

main {
  width: 100vw;
}

.flex-center {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.task-card {
  margin: 0rem 4rem;
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 10px 21px 42px 2px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 10px 21px 42px 2px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 10px 21px 42px 2px rgba(0, 0, 0, 0.57);
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 1rem;
  padding: 1rem;

  background: rgba(106, 153, 78, 0.35);

  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;

  color: var(--primary-color);

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

.task-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.task input[type="checkbox"] {
  transform: scale(1.5);
  cursor: pointer;
  accent-color: var(--territary-color);
}

.task-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--territary-color);
  padding: 1rem;
  transition: transform 0.2 ease;
  & :nth-child(2) {
    color: var(--primary-color);
  }

  & :hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.task-form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0rem;
}
.task-form input {
  padding: 1rem;
  flex: 1;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: white;
  outline: none;
  font: inherit;
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
}

.task-form button {
  padding: 0.8rem 1.2rem;

  border: none;
  border-radius: 10px;

  background-color: var(--primary-alt-color);
  color: var(--secondary-color);

  font: inherit;
  cursor: pointer;

  transition:
    transform 0.15s ease,
    background-color 0.2s ease;
}

.task-form input:focus {
  border-color: var(--primary-alt-color);
  background-color: rgba(255, 255, 255, 0.8);
}
