* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #386641ff;
  --primary-alt-color: #6a994eff;
  --secondary-color: #f2e8cfff;
  --territary-color: #bc4749ff;
  --yellow-green: #a7c957ff;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.section {
  min-height: 90vh;
  padding: 2rem;
}

main {
  width: 100vw;
}

.flex-center {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.task-card {
  margin: 0rem 4rem;
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 10px 21px 42px 2px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 10px 21px 42px 2px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 10px 21px 42px 2px rgba(0, 0, 0, 0.57);
}

/* .task { */
/*   display: flex; */
/*   gap: 1rem; */
/**/
/*   align-items: center; */
/*   margin-top: 1rem; */
/*   background: var(--primary-alt-color); */
/*   color: var(--secondary-color); */
/*   padding: 1rem 0.5rem; */
/*   border-radius: 10px; */
/*   & input { */
/*     accent-color: var(--territary-color); */
/*   } */
/**/
/*   backdrop-filter: blur(50px); */
/*   -webkit-backdrop-filter: blur(12px); */
/*   box-shadow: 10px 21px 42px 2px rgba(0, 0, 0, 0.57); */
/*   -webkit-box-shadow: 10px 21px 42px 2px rgba(0, 0, 0, 0.57); */
/*   -moz-box-shadow: 10px 21px 42px 2px rgba(0, 0, 0, 0.57); */
/* } */

.task {
  display: flex;
  gap: 1rem;
  align-items: center;

  margin-top: 1rem;
  padding: 1rem 0.5rem;

  background: rgba(106, 153, 78, 0.35);

  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;

  color: var(--primary-color);

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);

  & input {
    accent-color: var(--territary-color);
  }
}
